version: '3.8' 
# Each service defined here represents a separate container
#postgres is used for relational database storage
#redis is used for caching and message brokering
#minio is used for object storage like images and videos

services: 
  postgres: 
    image: postgres:latest
    container_name: postgres_db
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: FariaVirtual
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    
  redis: 
    image: redis:8.2-alpine3.22 
    container_name: redis
    ports:
      - "6379:6379" 
    volumes:
      - redis_data:/data 

  minio:
    image: minio/minio 
    container_name: minio
    environment: 
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minIOpass8923$$
    ports:
      - "9000:9000" 
      - "9001:9001"
    volumes:
      - minio_data:/data 

volumes: 
  postgres_data:
  redis_data:
  minio_data: 

  